/* ========== C O M M O N   S T Y L E S ==========*/

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background: #FFF;
}

h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.conteiner{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

*{
    outline: 1px solid tomato;
}


/* ============== H E A D E R ==============*/

.page-header-container{
    display: flex;
}

.page-nav{
    display: flex;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
}
.black-text {
    color:#2E2F42;
}
.white-text {
    color: #F4F4FD;
}
.page-header {
    background: #FFF;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu{
    display: flex;
}
.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}
.address-list  {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address {
    display: flex;
}
.address-link {
    color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.hero-section {
    background: #2E2F42;
}
.text-hero {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.order-button {
    color: #FFF;
    background: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;  
}
.order-button:hover,
.order-button:focus {
    background: #404BBF;
}
.team-section {
    background: #F4F4FD;
}
.card {
    background-color: #FFFFFF;
}
.page-footer {
    background: #2E2F42;
}