/* ========== C O M M O N   S T Y L E S ==========*/

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background: #FFF;
}

h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.conteiner{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

*{
    outline: 1px solid tomato;
}


/* ============== H E A D E R ==============*/

.page-header-container{
    display: flex;
    justify-content: space-between;

}

.page-nav{
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    
}
.black-text {
    color:#2E2F42;
}
.white-text {
    color: #F4F4FD;
}
.page-header {
    background: #FFF;
    padding-top: 24px;
    padding-bottom: 120px;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu{
    display: flex;
    column-gap: 40px;
}
.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}
.address-list  {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address {
    display: flex;
    column-gap: 40px;
}
.address-link {
    color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.hero-section {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}
.text-hero {
    color: #FFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
}
.order-button {
    color: #FFF;
    background: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;  
}
.order-button:hover,
.order-button:focus {
    background: #404BBF;
}




.benefits-section{
    padding-top: 96px;
    padding-bottom: 96px;
}
.benefits {
    display: flex;
    column-gap: 24px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-list-item{
    width: 264px;
}




.team{
    display: flex;
}
.team-section {
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.card {
    background-color: #FFFFFF;
}

.portfolio{
    display: flex;
}
.portfolio-section{
    padding-top: 96px;
    padding-bottom: 96px;
}
.page-footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}